<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwBillDao">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwBill">
        select * from tw_bill where 1=1
        <if test="obj.userName != null and obj.userName !=''">
            and username = #{obj.userName}
        </if>
        <if test="obj.coinname != null and obj.coinname !=''">
            and coinname = #{obj.coinname}
        </if>
        <if test="obj.st != null">
            and st = #{obj.st}
        </if>
        order by id desc
    </select>

</mapper>