<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwCoinDao">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwCoin">
        select * from tw_coin where 1=1
        <if test="obj.companyId != null and obj.companyId !=''">
            and company_id = #{obj.companyId}
        </if>
        order by sort desc
    </select>

</mapper>