<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwContentDao">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwContent">
        select * from tw_content order by addtime desc
    </select>

    <select id="listPCpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwContent">
        select * from tw_content where status = 1 order by addtime desc
    </select>

</mapper>