<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwHyorderDao">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwHyorder">
        select * from tw_hyorder where 1=1
        <if test="obj.username != null and obj.username !=''">
            and username = #{obj.username}
        </if>
        <if test="obj.hyzd != null">
            and hyzd = #{obj.hyzd}
        </if>
        <if test="obj.status != null">
            and status = #{obj.status}
        </if>
        order by id desc
    </select>
</mapper>