<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwKjorderDao">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwKjorder">
        select * from tw_kjorder  where 1=1
        <if test="obj.userName != null and obj.userName !=''">
            and username = #{obj.userName}
        </if>
        <if test="obj.status != null">
            and status = #{obj.status}
        </if>
        order by id desc
    </select>
</mapper>