<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwRechargeDao">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwRecharge">
        select * from tw_recharge where 1=1
        <if test="obj.username != null and obj.username !=''">
            and username = #{obj.username}
        </if>
        <if test="obj.startTime != null and obj.startTime !=''">
            and addtime >= #{obj.startTime}
        </if>
        <if test="obj.endTime != null and obj.endTime !=''">
            and  #{obj.endTime} = addtime
        </if>
        <if test="obj.departmentId != null">
            and department = #{obj.departmentId}
        </if>
        <if test="obj.employeeId != null and obj.employeeId !=''">
            and path like concat('%',#{obj.employeeId},'%')
        </if>
        order by id desc
    </select>

</mapper>