<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwAddressMapper">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwAddress">
        select ta.*, tab.currency, tab.balance, tu.username from tw_address ta left join tw_address_balance tab on ta.id = tab.address_id
        left join tw_user tu on ta.uid = tu.id
        where 1=1
        <if test="obj.userName != null and obj.userName !=''">
            and tu.username = #{obj.userName}
        </if>
        order by tab.balance desc
    </select>
    <select id="totalCount" resultType="java.lang.Integer">
        select count(*) from tw_address ta left join tw_address_balance tab on ta.id = tab.address_id
        left join tw_user tu on ta.uid = tu.id
        where 1=1
        <if test="obj.userName != null and obj.userName !=''">
            and tu.username = #{obj.userName}
        </if>
    </select>
</mapper>
