<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwMcdHyorderMapper">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwMcdHyOrder">
        select *, tu.username as followUsername from tw_mcd_hyorder tmh left join tw_user tu on tmh.follow_uid = tu.id where 1=1 and tmh.company_id = #{obj.companyId}
        <if test="obj.username != null and obj.username !=''">
            and tmh.username like concat('%',#{obj.username},'%')
        </if>
        <if test="obj.userCode != null and obj.userCode !=''">
            and (tmh.user_code like concat('%',#{obj.userCode},'%') or tmh.username like concat('%',#{obj.userCode},'%'))
        </if>
        <if test="obj.followUsercode != null and obj.followUsercode !=''">
            and tu.username like concat('%',#{obj.followUsercode},'%')
        </if>
        <if test="obj.followUsercode != null and obj.followUsercode !=''">
            and (tu.user_code like concat('%',#{obj.followUsercode},'%') or tu.username like concat('%',#{obj.followUsercode},'%'))
        </if>
        <if test="obj.hyzd != null">
            and hyzd = #{obj.hyzd}
        </if>
        <if test="obj.status != null">
            and tmh.status = #{obj.status}
        </if>
        <if test="obj.orderNo != null and obj.orderNo !=''">
            and order_no = #{obj.orderNo}
        </if>
        <if test="obj.plantimeStart != null and obj.plantimeStart !='' and obj.plantimeEnd != null and obj.plantimeEnd !=''">

            and plantime BETWEEN #{obj.plantimeStart} AND #{obj.plantimeEnd}

        </if>
        <if test="obj.departmentId != null and obj.departmentId !=''">
            and department = #{obj.departmentId}
        </if>
        <if test="obj.employeeId != null and obj.employeeId !=''">
            and path like concat('%',#{obj.employeeId},'%')
        </if>
        order by tmh.id desc
    </select>

    <select id="statisticProfit" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.vo.ProfitVo">
        SELECT
        sum(ploss) as profit,
        DATE(selltime) AS date
        FROM tw_mcd_hyorder
        WHERE uid=#{uid} AND company_id = #{companyId} AND status = 2
        AND selltime BETWEEN CURDATE() - INTERVAL 7 DAY AND CURDATE() + INTERVAL 1 DAY
        GROUP BY DATE(selltime)
        ORDER BY date ASC
    </select>
</mapper>