<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwReportMapper">
    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwReport">
        select * from tw_report where 1=1 and company_id  = #{obj.companyId}
        <if test="obj.startTime != null and obj.startTime !=''">
            and day_date >= #{obj.startTime}
        </if>
        <if test="obj.endTime != null and obj.endTime !=''">
            and  #{obj.endTime} >= day_date
        </if>
        order by day_date desc
    </select>

</mapper>
