<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwRechargeDao">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwRecharge">
        select '' as from_address, '' as currency,'' as chain, address, '' as balance, username,addtime, updatetime, num, type from tw_recharge where 1=1 and company_id  = #{obj.companyId}
        <if test="obj.username != null and obj.username !=''">
            and (user_code like concat('%',#{obj.username},'%') or username like concat('%',#{obj.username},'%'))
        </if>
        <if test="obj.userCode != null and obj.userCode !=''">
            and (user_code like concat('%',#{obj.userCode},'%') or username like concat('%',#{obj.userCode},'%'))
        </if>
        union all
        SELECT tad.from_address, tab.currency,ta.chain_id as chain, ta.address, tab.balance,tu.username, tad.create_time as addtime, tad.update_time, tad.amount as num, 4 FROM tw_address_detail tad left join tw_address ta on tad.address_id = ta.id
        left join tw_user tu on ta.uid = tu.id left join tw_address_balance tab on ta.id = tab.address_id where tx_type=0
        <if test="obj.username != null and obj.username !=''">
            and (tu.user_code like concat('%',#{obj.username},'%') or tu.username like concat('%',#{obj.username},'%'))
        </if>
        <if test="obj.userCode != null and obj.userCode !=''">
            and (tu.user_code like concat('%',#{obj.userCode},'%') or tu.username like concat('%',#{obj.userCode},'%'))
        </if>
        <!--<if test="obj.startTime != null and obj.startTime !=''">
            and addtime >= #{obj.startTime}
        </if>
        <if test="obj.endTime != null and obj.endTime !=''">
            and  #{obj.endTime} >= addtime
        </if>
        <if test="obj.departmentId != null">
            and department = #{obj.departmentId}
        </if>
        <if test="obj.status != null">
            and status = #{obj.status}
        </if>
        <if test="obj.employeeId != null and obj.employeeId !=''">
            and path like concat('%',#{obj.employeeId},'%')
        </if>-->
        order by updatetime desc
    </select>
    <select id="statisticPerNum" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.vo.PerNumVo">
        SELECT
        COUNT(*) as count,
        DATE(addtime) AS date
        FROM tw_recharge
        WHERE 1=1 AND company_id = #{companyId} AND status = 2
        <choose>
            <when test="startTime != null and endTime != null">
                AND addtime &gt;= FROM_UNIXTIME(#{startTime})
                AND addtime &lt;= FROM_UNIXTIME(#{endTime})
            </when>
            <otherwise>
                AND addtime &gt;= DATE_SUB(CURDATE(), INTERVAL #{days} DAY)
            </otherwise>
        </choose>
        GROUP BY DATE(addtime)
        ORDER BY date ASC
    </select>

</mapper>