<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.TwAdmin.dao.TwUserAgentMapper">

    <select id="listpage" resultType="net.lab1024.sa.admin.module.system.TwAdmin.entity.TwUserAgent">
        select * from tw_user_agent where 1=1 and company_id  = #{obj.companyId}
        <if test="obj.uid != null and obj.uid !=''">
            and uid = #{obj.uid}
        </if>
        <if test="obj.oneUid != null and obj.oneUid !=''">
            and one_uid = #{obj.oneUid}
        </if>
        <if test="obj.twoUid != null and obj.twoUid !=''">
            and two_uid = #{obj.twoUid}
        </if>
        <if test="obj.threeUid != null and obj.threeUid !=''">
            and three_uid = #{obj.threeUid}
        </if>
        <if test="obj.employeeId != null and obj.employeeId !=''">
            and path like concat('%',#{obj.employeeId},'%')
        </if>
        order by create_time desc
    </select>
</mapper>
